extends layout

block content
    script
        function pageX(evt){
            return Array.prototype.pop.call(evt.touches).pageX
        }

        window.onload = function(){
            var photos="#{photos}".split(","),
                index =photos.indexOf("#{photo}"),
                startX, length;

            document.addEventListener('touchstart',function(e){
                startX = pageX(e)
            });
            document.addEventListener('touchmove', function(e){
                length = startX - pageX(e)
            })
            document.addEventListener('touchend',function(e){
                if (Math.abs(length) > 200){
                    index += (length>0 ? -1: 1);
                    window.location="/p/"+photos.slice(index)[0]
                }
                length = 0;
            })
        }

    .photo
        img(src='/'+photo)
